<nav class="navbar navbar-dark bg-primary">
    {{#link-to 'principal' class="navbar-brand ml-2"}}
    <h3>
        <strong>Market UN</strong>
    </h3>
    {{/link-to}}
    <form class="form-inline my-2 my-lg-0">
        <img class="rounded-circle mx-1" src="{{model.perfil.urlFoto}}">
        <h3>
            <strong class="mx-4">{{model.perfil.nombres}}</strong>
        </h3>
        {{link-to 'Mi perfil' 'perfil' class="btn btn-warning mx-3"}}
        <button class="btn btn-danger my-2 " {{action 'cerrar'}}>Cerrar Sesion</button>
    </form>
</nav>

<div class="d-flex flex-row justify-content-around">
    <div>
        <br>           
        <form>            
            <div class="form-group">
                <label><strong>No se puede cambiar el correo, si lo desea puede registrar una cuenta nueva</strong></label>
                <div class="alert alert-secondary" role="alert">
                    {{model.perfil.correo}}
                </div>
                <div class="alert alert-success fade show" role="alert">
                    Edite solo los campos que desea cambiar
                </div>
                <label><strong>Contraseña</strong></label>
                {{input type="text" class="form-control" value=contrasena id="contrasena" placeholder="************"}}
                <label><strong>Nombres</strong></label>
                {{input type="text" class="form-control" value=nombres id="nombres" placeholder=model.perfil.nombres}}
                <label><strong>Apellidos</strong></label> 
                {{input type="text" class="form-control" value=apellidos id="apellidos" placeholder=model.perfil.apellidos}}
                <label><strong>Celular</strong></label>
                {{input type="text" class="form-control" value=celular id="celular" placeholder=model.perfil.celular}}
                <label><strong>URL de la foto</strong></label>
                {{input type="text" class="form-control" value=urlFoto id="urlFoto" placeholder=model.perfil.urlFoto}}
            </div>
            <div class="d-flex flex-row justify-content-around">
                <button class="btn btn-success" {{action 'editar' model.perfil}}> Editar </button>
            </div>
        
        </form>
    </div>
</div>