<nav class="navbar navbar-dark bg-primary">
    {{#link-to 'principal' class="navbar-brand ml-2"}}
    <h3>
        <strong>Market UN</strong>
    </h3>
    {{/link-to}}
    <form class="form-inline my-2 my-lg-0">
        <img class="rounded-circle mx-1" src="">
        <h3>
            <strong class="mx-4">Javier Duque</strong>
        </h3>
        {{link-to 'Mi perfil' 'perfil' class="btn btn-warning mx-3"}}
        <button class="btn btn-danger my-2 " {{action 'cerrar'}}>Cerrar Sesion</button>
    </form>
</nav>

<div class="d-flex flex-row justify-content-around">
    <div>
        <br>           
        <form>
            <div class="form-group">
                <label><strong>No se puede cambiar el correo, si lo desea puede registrar una cuenta nueva</strong></label>
                <div class="form-control input-group-text">{{perfil.correo}}JKASDJABDHJ@ </div>
                <br> {{input type="text" class="form-control" value=contrasena id="contrasena" placeholder="************"}}
            </div>
            <div class="form-group">
                <label><strong>Nombres</strong></label>
                {{input type="text" class="form-control" value=nombres id="nombres" placeholder="{{perfil.nombre}}"}}
                <br><label><strong>Apellidos</strong></label> 
                {{input type="text" class="form-control" value=apellidos id="apellidos" placeholder="{{perfil.apellidos}}"}}
            </div>
            <div class="form-group">
                <label><strong>Celular</strong></label>
                {{input type="text" class="form-control" value=celular id="celular" placeholder="{{perfil.celular}}"}}
            </div>
            {{#if camposEnBlanco}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Hay campos que no han sido llenados
            </div>
            {{/if}}
            <div class="d-flex flex-row justify-content-around">
                <button class="btn btn-success" {{action 'editar' perfil}}> Editar </button>
            </div>
        </form>
    </div>

</div>