
    <nav class="navbar navbar-dark bg-primary">
        {{#link-to 'index' class="navbar-brand ml-2"}}
            <h3><strong>Market UN</strong></h3>
        {{/link-to}}    
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Publica lo que esta vendiendo</a>
                </li>
            </ul>
        </form>        
    </nav>

    <div class="d-flex flex-row justify-content-around my-3 mx-5">        
        
        <!-- Registro -->
        <div>
            <br><strong>Si no tienes una cuenta puedes registrarte</strong><br>   <br>
        
            <form>
                <div class="form-group">                              
                    {{input type="email" class="form-control" value=emailR id="emailR" placeholder="Correo Electronico"}}<br>
                    {{input type="email" class="form-control" value=emailR2 id="emailR2" placeholder="Confirmar Correo Electronico"}}<br>
                    {{input type="text" class="form-control" value=contrasena id="contrasena" placeholder="Constraseña"}}<br>
                    {{input type="text" class="form-control" value=nombres id="nombres" placeholder="Nombres"}} <br>
                    {{input type="text" class="form-control" value=apellidos id="apellidos" placeholder="Apellidos"}}<br>  
                    {{input type="text" class="form-control" value=urlFoto id="urlFoto" placeholder="URL de la foto de perfil"}}                    <br>
                    {{input type="number" min="999999" max="10000000000" class="form-control" value=celular id="celular" placeholder="Numero de telefono o celular"}}
                </div>
                {{#if camposEnBlanco}}
                <div class="alert alert-warning fade show" role="alert">
                    Hay campos en blanco o muy cortos.
                </div>
                {{else if celularInvalido}}
                <div class="alert alert-warning fade show" role="alert">
                    El numero debe tener mínimo 7 dígitos y máximo 10.
                </div>
                {{else if correoInvalido}}
                <div class="alert alert-warning fade show" role="alert">
                    El correo no tiene un formato valido.
                </div>
                {{else if correosNoCoinciden}}
                <div class="alert alert-warning fade show" role="alert">
                    Los correos no coinciden.
                </div>
                {{else if correoEnUso}}
                <div class="alert alert-warning fade show" role="alert">
                    El correo indicado tiene una cuenta registrada.
                </div>
                {{/if}}
                <div class="d-flex flex-row justify-content-around">
                    <button type="submit" class="btn btn-primary" {{action 'registrar' argument}}> REGISTRAR </button>               
                </div> 
            </form>      
        </div>

        <!-- Login -->
        <div class="col-md-4">     <br><br>
            <strong class="ml-5">¡Hola! Ingresa con tu e‑mail y contraseña</strong>      <br>
            <br>
            <form method="post">
                <div class="form-group">
                    {{input type="email" class="form-control" value=email id="InputEmail" aria-describedby="emailHelp" placeholder="Correo Electronico"}}
                </div>
                <br>
                <div class="form-group">
                    {{input type="password" value=password class="form-control" id="InputContraseña" placeholder="Contraseña"}}
                </div>
                <!--Error de login-->
                {{#if error}}
                <div class="alert alert-warning fade show" role="alert">
                    <strong>Datos erroneos!</strong>Correo Electronico o Contraseña son incorrectos
                </div>
                <!-- Error campos vacios-->
                {{else if vacio}}
                <div class="alert alert-warning fade show" role="alert">
                    Hay campos que estan vacios
                </div>
                {{else if correoNoRegistrado}}
                <div class="alert alert-warning fade show" role="alert">
                    El correo indicado no se encuentra registrado
                </div>
                {{else if contrasenaNoValida}}
                <div class="alert alert-warning fade show" role="alert">
                    La contraseña que ingresaste es incorrecta
                </div>
                {{/if}}
                <div class="d-flex flex-row justify-content-around">
                    <button class="btn btn-primary" {{action 'ingresar'}}> INGRESAR </button>
                </div>         <br>               
                
            </form>
        </div>
    </div>

    

        
