<nav class="navbar navbar-dark bg-primary">
    {{#link-to 'principal' class="navbar-brand ml-2"}}
        <h3><strong>Market UN</strong></h3>
    {{/link-to}} 
    <form class="form-inline my-2 my-lg-0">
        <img class="rounded-circle mx-2" src="{{model.perfil.urlFoto}}" width="60" height="60">
        <h3><strong class="mx-4">{{model.perfil.nombres}} </strong></h3>
        {{link-to 'Publicar' 'crear-publicacion' class="btn btn-light mx-3"}}
        <button class="btn btn-danger my-2 my-sm-0" {{action 'cerrar'}}>Cerrar sesion</button>
    </form>
</nav>

<div class="d-flex flex-row">
    <!--Perfil -->
    <div class="d-flex col-md-3 navbar-perfil"><br>
        <div class="ml-3"><br>
            <h3><strong>Mis datos</strong></h3><br>
            <p>
                <h4>
                    <strong class="titulo-perfil">Correo:</strong><br>
                    <span>{{model.perfil.correo}}</span>
                </h4>                
            </p><br>
            <p>
                <h4>
                    <strong class="titulo-perfil">Nombre:</strong><br>
                    <span>{{model.perfil.nombres}}</span>
                </h4>                
            </p><br>
            <p>
                <h4>
                    <strong class="titulo-perfil">Apellidos:</strong><br>
                    <span>{{model.perfil.apellidos}}</span>
                </h4>                
            </p><br>
            <p>
                <h4 >
                    <strong class="titulo-perfil">Celular:</strong><br>
                    <span>{{model.perfil.celular}}</span>
                </h4>                
            </p><br>
            {{#link-to 'editar-perfil'}}
                <button class="btn btn-warning">Editar datos</button>
            {{/link-to}}                        
        </div> 
    </div>

    <!-- publicaciones propias -->    
    <div class="col-md-9 d-flex flex-row justify-content-between">        
        <div class="row card-deck px-4 py-4">
            {{#each model.publicaciones as |publicacion|}}
            <div class="card col-md-4">
                <img class="card-img-top" src="{{publicacion.foto}}">
                <div class="card-body">
                    <h5 class="card-title rounded"><strong>{{publicacion.titulo}}</strong></h5>
                    <p class="card-text">{{publicacion.descripcion}}</p>
                </div>
                <div class="card-footer d-flex flex-row justify-content-between ">
                    <small class="text-muted">Precio: $ {{publicacion.precio}}</small>
                    <button class="btn btn-success">Ver</button>
                </div>
            </div>
            {{/each}}
    
        </div>
    </div>   

</div>

