<nav class="navbar navbar-dark bg-primary">
    {{#link-to 'principal' class="navbar-brand ml-2"}}
        <h3><strong>Market UN</strong></h3>    
    {{/link-to}}
    <form class="form-inline my-2 my-lg-0">
        <img class="rounded-circle mx-2" src="{{model.perfil.urlFoto}}" width="60" height="60">        
        <h3><strong class="mx-4">{{model.perfil.nombres}} </strong></h3>
        {{link-to 'Mi perfil' 'perfil' class="btn btn-warning mx-3"}}
        <button class="btn btn-danger my-2 my-sm-0" {{action 'cerrar'}}>Cerrar sesión</button>
    </form>
</nav>

<div class="d-flex flex-row justify-content-between">   
    
    <div class="row card-deck px-4 py-4">
     {{#each model.publicaciones as |publicacion|}}        
         <div class="card">   
            {{#link-to "publicacion" publicacion.codigo class="tarjeta"}}
                <img class="card-img-top" src="{{publicacion.foto}}">
                <div class="card-body">
                    <h4 class="card-title rounded">
                        <strong>{{publicacion.titulo}}</strong>
                    </h4>
                </div>
            {{/link-to}}
                <div class="card-footer d-flex flex-row justify-content-between">
                    <div>
                        <h4>
                            <strong>Precio:   $</strong>
                        </h4>
                    </div>
                    <div>
                        <h4>{{publicacion.precio}}</h4>
                    </div>
                </div>                       
            </div>        
        {{/each}}   
    </div>
</div>