<nav class="navbar navbar-dark bg-primary">
    {{#link-to 'principal' class="navbar-brand ml-2"}}
        <h3><strong>Market UN</strong></h3>    
    {{/link-to}}
    <form class="form-inline my-2 my-lg-0">
        <img class="rounded-circle mx-2" src="" width="60" height="60">        
        <h3><strong class="mx-4">Javier Duque</strong></h3>
        {{link-to 'Mi perfil' 'perfil' class="btn btn-warning mx-3"}}
        <button class="btn btn-danger my-2 my-sm-0" {{action 'cerrar'}}>Cerrar sesion</button>
    </form>
</nav>
<div class="d-flex flex-row justify-content-between">
    
    <div class="row card-deck px-4 py-4">
     {{#each model.publicaciones as |publicacion|}}
        <div class="card col-md-3">
            <img class="card-img-top" src="{{publicacion.foto}}" alt="{{publicacion.title}}">
            <div class="card-body">
                <h5 class="card-title rounded">{{publicacion.title}}Card title</h5>
                <p class="card-text">{{publicacion.descripcion}}This is a wider card with supporting text below as a natural lead-in to additional content. This content is a
                    little bit longer.</p>
            </div>
            <div class="card-footer d-flex flex-row justify-content-between ">
                <small class="text-muted">Precio: $ {{publicacion.precio}}</small>
                <button class="btn btn-success">Contactar</button>
            </div>
        </div>
    {{/each}}
        <div class="card col-md-3">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card col-md-3">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>